<main class="grid-container">
  <div class="grid-x grid-padding-x">
    <h1 class="cell">Task02 - alert</h1>
  </div>
  <div class="grid-x grid-padding-x">
    {{#aria-alert boxstyle="alert-box alert round"}}
    "Please check your screenreader works"
    {{/aria-alert}}
  </div>
</main>