<main class="grid-container">
  <div class="grid-x grid-padding-x">
    <h1 class="cell">Task03 - dialog</h1>
  </div>
  <div class="grid-x grid-padding-x">
    {{#if display}}
      {{#aria-dialog}}
        <button class="button secondary" {{action "closeDialog"}}>Don't save</button>
        <button class="button" {{action "closeDialog"}}>Save</button>
      {{/aria-dialog}}
    {{else}}
      <button class="button" {{action "openDialog"}}>Comment</button>
    {{/if}}
  </div>
</main>