<main class="grid-container">
  <div class="grid-x grid-padding-x">
        <h1 class="cell">Delete the Room</h1>
  </div>
  <table>
    <tbody>
      <tr>
        <th>Name</th>
        <td>{{model.name}}</td>
      </tr>
    </tbody>
  </table>
  <div class="text-right">
    <LinkTo @route="rooms" class="button secondary">Return</LinkTo>
    <button {{action "deleteRoom" model}} class="button">Confirm</button>
  </div>
</main>