<header class="top-bar">
    <nav class="top-bar-left" aria-label="Main">
        <ul class="horizontal" role="menu" aria-label="Main">
            <li class="menu-text">Athena - Study Portal</li>
            <li>{{#link-to 'modules'}}My Modules{{/link-to}}</li>
            <li><a href="" role="menuitem" tabindex="-1">My Exams</a></li>
            <li>{{#link-to 'rooms'}}My Rooms{{/link-to}}</li>
        </ul>
    </nav>
    <nav class="top-bar-right" aria-label="User">
    <ul class="horizontal" role="menu" aria-label="User">
      <li>{{#link-to "users.register"}}Register{{/link-to}}</li>
      <li><a role="menuitem" tabindex="-1">Logout</a></li>
    </ul>
  </nav>
</header>

{{outlet}}