<main class="grid-container">
  <div class="grid-x grid-padding-x">
    <h1 class="cell">{{t "application.my_tasks"}}</h1>
  </div>
  <div class="grid-x grid-padding-x">
    <nav class="cell shrink" aria-label="Tasks">
      <ul role="menu" aria-label="Tasks">
        <li><a href="users/1/profile">Task01 - Formatted version of the E-mail address</a></li>
        <li>{{#link-to 'aria.alert'}}Task02 - Aria Alert{{/link-to}}</li>
        <li>{{#link-to 'aria.dialog'}}Task03 - Aria Dialog{{/link-to}}</li>
        <li>{{#link-to 'aria.accordion'}}Task04 - Aria Accordion{{/link-to}}</li>
      </ul>
    </nav>
  </div>
  </main>