<header class="top-bar">
    <nav class="top-bar-left" aria-label="Main">
        <ul class="horizontal" role="menu" aria-label="Main">
            <li class="menu-text">Responsive Design</li>
            <li>{{#link-to 'task01'}}Aufgabe 1{{/link-to}}</li>
            <li>{{#link-to 'task02'}}Aufgabe 2{{/link-to}}</li>
        </ul>
    </nav>
</header>

{{outlet}}