<main class="grid-x grid-padding-x">
    <div class="cell small-8 large-10" style="background-color: orange">Logo here</div>
    <div class="cell small-4 large-2" style="background-color: blue">Menu</div>
    <div class="cell small-12 large-4" style="background-color: brown">Main Menu</div>
    <div class="cell small-9 large-5" style="background-color: greenyellow">Content</div>
    <div class="cell small-3 large-3" style="background-color: darkgrey">Side Notes</div>
    <div class="cell small-6 large-4" style="background-color: fuchsia">Footer 1</div>
    <div class="cell small-6 large-4" style="background-color: khaki">Footer 2</div>
    <div class="cell small-12 large-4" style="background-color: rebeccapurple">Footer 3</div>
</main>